<div class="msgcontainer">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#inbox" data-toggle="tab">Inbox</a></li>
    <li><a href="#sent" data-toggle="tab">Sent</a></li>
    <!-- Commenting out trash view until implemented -->
    <!-- <li><a href="#trash" data-toggle="tab">Trash</a></li>-->
  </ul>

  <div class="tab-content">
    <%= render 'box', :id => "inbox", :active => 'active',
      :box => @conversations_inbox%>
    <%= render 'sent', :id => "sent", :active => '',
      :box => @conversations_sentbox%>
      <!-- Not currently called until trash view implemented -->
    <%= render 'box', :id => "trash", :active => '',
      :box => @conversations_trash%>
  </div>
</div>