<!-- This is just an example page of what is perhaps a very
     poor way to use conversations and messages -->

<h2> Conversations </h2>
<hr/>
<%@conversations.each do |convo| %>
  
  Originator: <%=convo.originator.name%> <br />
  <%= link_to convo.last_message.subject, convo %>
  <br />
  <hr>
<%end%>
