<!-- Compose dialog. Doesn't use any outside variables right now -->
<div class="modal fade" id="compose-to-user" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%=form_tag({ controller: "messages", action: "create"},
        method: "post", class: "form-horizontal", id:"compose_form", 
        role:"form") do %>
        <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;</button>
         <h4 class="modal-title" id="myModalLabel">New Message</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="msg_recipient" class="col-sm-2 control-label">
              Recipient</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="msg_recipient" 
                id="msg_recipient"
              placeholder="Recipient Name">
            </div>
          </div>
          <div class="form-group">
            <label for="msg_subject" class="col-sm-2 control-label">
              Subject</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="msg_subject"
                name="msg_subject" placeholder="Subject">
            </div>
          </div>
          <div class="form-group">
            <label for="msg_body" class="col-sm-2 control-label">
              Message</label>
            <div class="col-sm-10">
              <textarea type="message" class="form-control" id="msg_body" 
                name="msg_body"
                placeholder="Write your message here!" rows="5"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">
            Close</button>
         <button type="submit" class="btn btn-primary">
            Send</button>
        </div>
      <%end%>
    </div>
  </div>
</div>
