<!DOCTYPE html>
<html>
  <head>
    <title>CommissionMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="/assets/reset.css">
  
    <!-- Styling for grid blocks -->
    <link rel="stylesheet" href="/assets/homepageimages.css">

</head>

<body>
  <div class="banner">
    <p>Looking for an artist or commissioner? CommissionMe is a tool to easily facilitate commissions.</p>
  </div>

  <div id="container">
    <div id="main" role="main">

      <ul id="tiles">
        <% index = 0%>
          <%@featured_users.each_with_index do |user|%>
            <%if !user.get_featured_art %>
              <%next%>
            <%end%>
              <div>
                <li><%=link_to(user, :class => "item") do%>
                  <img class="featuredimg" src="<%=user.get_featured_art.location%>"></li>
                <%end%>
              </div>
            <%index+=1%>
          <% end %>
      </ul>

    </div>
    <footer>

    </footer>
  </div>

  <!-- include jQuery -->
  <script src="/assets/jquery-1.7.1.min.js"></script>
  
  <!-- Include the imagesLoaded plug-in -->
  <script src="/assets/jquery.imagesloaded.js"></script>

  <!-- Include the plug-in -->
  <script src="/assets/jquery.wookmark.js"></script>
  
  <!-- Once the images are loaded, initalize the plug-in. -->
  <script src="/assets/homepageimages.js"></script>
</body>
</html>