<p>
The following users came from a database!
</p>
<p>
<% FakeUser.all.each do |user| %>
	<b>name</b>= <%=user.name %><br />
	<b>email address</b>= <%=user.email %>
	</p>
	<hr />
<% end %>
<%= Time.now %>
