<!DOCTYPE html>
<html>
  <head>
    <title>CommissionMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS and JS are linked in views/layouts/application.html.erb -->
    <link rel="stylesheet" href="http://www.stanford.edu/group/thais/cgi-bin/step/gallery/css/reset.css">
    <link rel="stylesheet" href="http://www.stanford.edu/group/thais/cgi-bin/step/gallery/css/style.css">

  </head>

  <body>
    <div class="banner">
      <p>WELCOME BANNER</p>
    </div>
  
  <div id="container">
  
    <div id="main" role="main">

      <ul id="tiles">
    <% index = 0%>
      <%@featured_users.each_with_index do |user|%>
        <%if !user.get_featured_art %>
          <%next%>
        <%end%>
          <div>
            <li><%=link_to(user, :class => "item") do%>
              <img src="<%=user.get_featured_art.location%>">
            <%end%><li>
          </div>
        <%index+=1%>
      <% end %>
        <!-- End of grid blocks -->
      </ul>

    </div>
    <footer>

    </footer>
  </div>

  <!-- include jQuery -->
  <script src="http://www.stanford.edu/group/thais/cgi-bin/step/gallery/js/jquery-1.7.1.min.js"></script>
  
  <!-- Include the plug-in -->
  <script src="http://www.stanford.edu/group/thais/cgi-bin/step/gallery/js/jquery.wookmark.js"></script>
  
  <!-- Once the page is loaded, initalize the plug-in. -->
  <script type="text/javascript">
    $(document).ready(new function() {
      // Prepare layout options.
      var options = {
        autoResize: true, // This will auto-update the layout when the browser window is resized.
        container: $('#main'), // Optional, used for some extra CSS styling
        offset: 2, // Optional, the distance between grid items
        itemWidth: 210 // Optional, the width of a grid item
      };
      
      // Get a reference to your grid items.
      var handler = $('#tiles li');
      
      // Call the layout function.
      handler.wookmark(options);
      
      // Capture clicks on grid items.
      handler.click(function(){
        // Randomize the height of the clicked item.
        var newHeight = $('img', this).height() + Math.round(Math.random()*300+30);
        $(this).css('height', newHeight+'px');
        
        // Update the layout.
        handler.wookmark();
      });
    });
  </script>

    
  </body>
</html>