<!DOCTYPE html>
<html>
    <head>
    <title>CommissionMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS and JS are linked in views/layouts/application.html.erb -->
    </head>
    <body>
		<div class="navbar navbar-default">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<li class="active">
							<a class="brand" href="index.html">CommissionMe</a>
						</li>
					</ul>
					<ul class="nav pull-right">
						<a class="brand" href="authenticate.html">Sign up/Log in</a>
					</ul>
				</div>
			</div>
		</div>
					
		<div class="container">
			<div class="page-header">
				<h1>Commission Settings</h1>
			</div>
		</div>
		
		<div class="container">
		<span class="glyphicon glyphicon-search"></span>

			<div class="row">
				<div class="span1"><h2>v</h2><span class="glyphicon glyphicon-star"></span></div>
				<div class="span6">
					<h2>Step 1</h2>
					
					<div class="row">
						<div class="span5">
							<div class="panel panel-default">
								<div class="panel-heading">
									<input class="form-control input-lg" type="text" value="Cagegory 1">
								</div>
								<div class="panel-body">
									<span class="span1">Price:</span>$<input class="form-control span1" type="text" value="10"><br>
									<span class="span1">Example:</span><input class="form-control" type="file"><br>
									<span class="span1"><img src="http://i.imgur.com/PuJwL2k.png"></span><textarea placeholder="Enter a description..."></textarea>
								</div>
							</div>
						</div>
						<div class="span1"><button type="button" class="btn btn-default">&#150;</button></div>
					</div>
					
					<hr>
				
					<div class="row">
						<div class="span5">
							<div class="panel panel-default">
								<div class="panel-heading">
									<input class="form-control input-lg" type="text" value="Cagegory 2">
								</div>
								<div class="panel-body">
									<span class="span1">Price:</span>$<input class="form-control span1" type="text" value="20"><br>
									<span class="span1">Example:</span><input class="form-control" type="file"><br>
									<span class="span1"><img src="http://i.imgur.com/PuJwL2k.png"></span><textarea placeholder="Enter a description..."></textarea>
								</div>
							</div>
						</div>
						<div class="span1"><button type="button" class="btn btn-default">&#150;</button></div>
					</div>
					
					<hr>
				
					<div class="row">
						<div class="span5">
							<div class="panel panel-default">
								<div class="panel-heading">
									<input class="form-control input-lg" type="text" value="Cagegory 3">
								</div>
								<div class="panel-body">
									<span class="span1">Price:</span>$<input class="form-control span1" type="text" value="30"><br>
									<span class="span1">Example:</span><input class="form-control" type="file"><br>
									<span class="span1"><img src="http://i.imgur.com/PuJwL2k.png"></span><textarea placeholder="Enter a description..."></textarea>
								</div>
							</div>
						</div>
						<div class="span1"><button type="button" class="btn btn-default">&#150;</button></div>
					</div>
					
					<hr>
				
					<div class="row">
						<div class="span5"></div>
						<div class="span1"><button type="button" class="btn btn-default">+</button></div>
					</div>
				
				</div>
				<div class="span1"><button type="button" class="btn btn-default">&#150;</button></div>
			</div>
			
			
			<div class="row">
				<div class="span1"><h2>^</h2><span class="glyphicon glyphicon-star"></span></div>
				<div class="span6"><h2>Step 2</h2></div>
				<div class="span1"><button type="button" class="btn btn-default">&#150;</button></div>
			</div>
			
			<div class="row">
				<div class="span1"><h2>^</h2><span class="glyphicon glyphicon-star"></span></div>
				<div class="span6"><h2>Step 3</h2></div>
				<div class="span1"><button type="button" class="btn btn-default">&#150;</button></div>
			</div>
			
			<div class="row">
				<div class="span1"></div>
				<div class="span6"></div>
				<div class="span1"><button type="button" class="btn btn-default">+</button></div>
			</div>
		</div>
		
		<div class="container">
			<button class="btn btn-primary">Save</button>
		</div>
		
		<br><br><br><br>
		
    </body>
</html>