form {
  margin-bottom: 20px;
  padding: 30px 3%;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 0 20px 20px 20px;
}

.nav-tabs {
  border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #FAFAFA;
}

/* TEMPORARY DROPDOWN 'GLYPH' */
.step > span {
  float: left;
  font-size: 24pt;
  margin-right: 20px;
  font-weight: bold;
}

.step-name {
  width: 50%;
}

.option {
  width: 90%;
  margin: auto;
}

.option-name {
  width: 70%;
}

.form-group img {
  margin-top: 20px;
  max-height: 128px;
}

.option-price {
  width: 200px;
}

.option-disabled {
  width: 90%;
  margin: auto;
}

#control-btns {
  margin-top: 70px;
}