<!DOCTYPE html>
<html>
    <head>
    <title>CommissionMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS and JS are linked in views/layouts/application.html.erb -->
    </head>
    <body>
		<div class="navbar navbar-default">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<li class="active">
							<a class="brand" href="index.html">CommissionMe</a>
						</li>
					</ul>
					<ul class="nav pull-right">
						<a class="brand" href="authenticate.html">Sign up/Log in</a>
					</ul>
				</div>
			</div>
		</div>
					
		<div class="container">
			<div class="page-header">
				<h1>Schmapple's Dashboard</h1>
			</div>
		</div>
		
		<div class="container">
			<button class="btn btn-large btn-primary">Commission Settings</button>
			<button class="btn btn-large btn-primary">Preview Request Form</button>
		</div>
		
		<div class="container">
			<h2>Pending Requests</h2>
			<ul>
				<li><a href=""><strong>Narble Scrumplebutt</strong> <em>2 days ago</em></a></li>
				<li><a href=""><strong>Brawndie</strong> <em>3 days ago</em></a></li>
				<li><a href=""><strong>Scootaloo</strong> <em>5 days ago</em></a></li>
			</ul>
		</div>
		
		<div class="container">
			<h2>Current Projects</h2>
			<div class="row">
				<div class="span3">
					<a href="">
						<img src="http://derpicdn.net/img/2013/5/16/326404/large.jpg">
						<div style="margin: auto; text-align: center; width: 100%;" title="80%"><div style="text-align: left; margin: 2px auto; font-size: 0px; line-height: 0px; border: solid 1px #AAAAAA; background: #DDDDDD; overflow: hidden; "><div style="font-size: 0px; line-height: 0px; height: 3px; min-width: 0%; max-width: 80%; width: 80%; background: #1D3D8D; "><!----></div></div><div style="font-size: 8pt; font-family: monospace; ">80%</div></div>
						<h4>Spitfire</h4>
					</a>
					<ul>
						<li>full color</li>
						<li>3 characters</li>
						<li>simple background</li>
					</ul>
				</div>
				<div class="span3">
					<a href="">
						<img src="http://derpicdn.net/img/2013/11/5/464733/large.jpg">
						<div style="margin: auto; text-align: center; width: 100%;" title="30%"><div style="text-align: left; margin: 2px auto; font-size: 0px; line-height: 0px; border: solid 1px #AAAAAA; background: #DDDDDD; overflow: hidden; "><div style="font-size: 0px; line-height: 0px; height: 3px; min-width: 0%; max-width: 30%; width: 30%; background: #1D3D8D; "><!----></div></div><div style="font-size: 8pt; font-family: monospace; ">30%</div></div>
						<h4>Prekton</h4>
					</a>
					<ul>
						<li>sketch</li>
						<li>2 characters</li>
						<li>no background</li>
					</ul>
				</div>
				<div class="span3">
					<a href="">
						<img src="http://fc01.deviantart.net/fs70/f/2012/187/9/4/canterlot_study_by_baron_engel-d569xy6.jpg">
						<div style="margin: auto; text-align: center; width: 100%;" title="10%"><div style="text-align: left; margin: 2px auto; font-size: 0px; line-height: 0px; border: solid 1px #AAAAAA; background: #DDDDDD; overflow: hidden; "><div style="font-size: 0px; line-height: 0px; height: 3px; min-width: 0%; max-width: 10%; width: 10%; background: #1D3D8D; "><!----></div></div><div style="font-size: 8pt; font-family: monospace; ">10%</div></div>
						<h4>Bobfresh</h4>
					</a>
					<ul>
						<li>full color</li>
						<li>0 characters</li>
						<li>detailed background</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="container">
			<h2>Past Works</h2>
			<a href=""><p><em>SEE ALL -></em></p></a>
			<div class="row">
				<div class="span3">
					<a href="">
						<img src="http://derpicdn.net/img/2013/7/25/383762/large.png">
						<h4>Crabman</h4>
					</a>
				</div>
				<div class="span3">
					<a href="">
						<img src="http://derpicdn.net/img/2013/7/25/383770/large.jpg">
						<h4>JosieFresh</h4>
					</a>
				</div>
				<div class="span3">
					<a href="">
						<img src="http://derpicdn.net/img/2013/1/27/225146/large.png">
						<h4>Whatevenami</h4>
					</a>
				</div>
			</div>
		</div>
		
    </body>
</html>