<!DOCTYPE html>
<html>
    <head>
    <title>Explore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS and JS are linked in views/layouts/application.html.erb -->
    </head>
    <body>
	    <div class="navbar navbar-default">
	      <div class="navbar-inner">
	        <div class="container">
	          <ul class="nav">
	            <li class="active">
	              <a class="brand" href="index.html">CommissionMe</a>
	            </li>
	          </ul>
	          <ul class="nav pull-right">
	            <a class="brand" href="authenticate.html">Sign up/Log in</a>
	          </ul>
	        </div>
	      </div>
  		</div>
			
                <div class="container">
                  <div class="row">
                    <div class="span6">
                      <form class="span6">
                      <div class="row">
                        <div class="span4">
                          <input type="text" class="input-block-level">
                        </div>
                        <div class="span2">
                        <button type="submit" class="btn btn-small
                          btn-primary">Search</button>
                        </div>
                      </div>
                    </form>
                    </div>
                  </div>
			<div class="row">  
			  <div class="span3">
			  	<img src="http://images.wikia.com/mlp/images/7/7d/Pinkie_singing_to_Fluttershy_S1E25.png">
			  </div>  
			  <div class="span3">
			  	<img src="http://images2.wikia.nocookie.net/__cb20120727011520/mlp/images/7/77/Pinkie_pulls_Gummy_out_of_the_tub_S1E15.png">
			  </div>
			  <div class="span3">
			  	<img src="http://images.wikia.com/mlp/images/9/9e/Gummy_latched_onto_Rainbow_Dash%27s_face_S1E25.png">
			  </div>  
			  <div class="span3">
			  	<img src="http://images.wikia.com/mlp/images/c/c3/Gummy_sneezing_S1E25.png">
			  </div> 
			</div>
			<div class="row">
				&nbsp
			</div>
			<div class="row">
			  <div class="span3">
			  	<img src="http://images.wikia.com/mlp/images/7/7d/Pinkie_singing_to_Fluttershy_S1E25.png">
			  </div>  
			  <div class="span3">
			  	<img src="http://images2.wikia.nocookie.net/__cb20120727011520/mlp/images/7/77/Pinkie_pulls_Gummy_out_of_the_tub_S1E15.png">
			  </div> 
			  <div class="span3">
			  	<img src="http://images.wikia.com/mlp/images/9/9e/Gummy_latched_onto_Rainbow_Dash%27s_face_S1E25.png">
			  </div>  
			  <div class="span3">
			  	<img src="http://images.wikia.com/mlp/images/c/c3/Gummy_sneezing_S1E25.png">
			  </div> 
			</div>    
		</div>  

    </body>
</html>
