<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pagliacci</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../../assets/stylesheets/bootstrap-responsive.min.css" rel="stylesheet" media="screen">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active">
              <a class="brand" href="index.html">CommissionMe</a>
            </li>
          </ul>
          <ul class="nav pull-right">
            <a class="brand" href="authenticate.html">Sign up/Log in</a>
          </ul>
        </div>
      </div>
    </div>



    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="span3">
            <img src="../../assets/images/BioCorgi.jpg">
          </div> <!-- span 3-->
          <div class="span9">
            <h2>Pagliacci's Profile</h2>
            <p><span class="badge badge-important">8</span> Commissions</p>
            <p>Artist since 2013</p>
            <a class="btn btn-large btn-primary">CommissionMe &raquo;</a>
          </div> <!-- span 9-->
        </div> <!-- end of span12 in hero -->
      </div> <!-- end of row-fluid in hero -->
    </div>
    <!-- </div> -->

<!-- Container for : Bio Picture  + Bio Text-->
  <hr>
  <div class="container">
    <div class="row-fluid">
      <div class="row">
        <div class="thumbnail span3">
          <img src="../../assets/images/BioCorgi.jpg">
          <div class="caption">
            <h5>Title</h5>
            <p>Description</p>
          </div>
        </div>  
        <div class="thumbnail span3">
          <img src="../../assets/images/BioCorgi.jpg">
          <div class="caption">
            <h5>Title</h5>
            <p>Description</p>
          </div>
        </div> 
        <div class="thumbnail span3">
          <img src="../../assets/images/BioCorgi.jpg">
          <div class="caption">
            <h5>Title</h5>
            <p>Description</p>
          </div>
        </div> 
        <div class="thumbnail span3">
          <img src="../../assets/images/BioCorgi.jpg">
        </div> 
      </div>

      <div class="row">
        &nbsp
      </div>

      <div class="row">
        <div class="thumbnail span3">
          <img src="../../assets/images/BioCorgi.jpg">
          <div class="caption">
            <h5>Title</h5>
            <p>Description</p>
          </div>
        </div>  
        <div class="thumbnail span3">
          <img src="../../assets/images/BioCorgi.jpg">
          <div class="caption">
            <h5>Title</h5>
            <p>Description</p>
          </div>
        </div> 
        <div class="thumbnail span3">
          <img src="../../assets/images/BioCorgi.jpg">
          <div class="caption">
            <h5>Title</h5>
            <p>Description</p>
          </div>
        </div> 
        <div class="thumbnail span3">
          <img src="../../assets/images/BioCorgi.jpg">
        </div> 
      </div> 
    </div>

    <hr>
    <footer>
      <p>CSE 403 Autumn 2013 Footer</p>
    </footer>
  </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/javascripts/jquery.js"></script>
    <script src="../../assets/javascripts/bootstrap.min.js"></script>
    <!-- Script to automatically engage the carousel upon page load -->
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 2500
        });
      });
    </script>
  </body>
</html>