<!DOCTYPE html>
<html>
  <head>
    <link href="http://bejoty.com/css/bootstrap.min.css" rel="stylesheet">
    <% @title = "Current Progress" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS and JS are linked in views/layouts/application.html.erb -->
  </head>
  <body>
    <div class="container">
      <div style="text-align:center;">
        <img style="height:250px;" src="http://ponymindbleach.com/images/cotton_candy_tail_by_dreatos-d3kcyt0.png" alt="" class="">
      </div>
      <div class="progress" style="width:50%;margin:auto;">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" style="width: 71%">
          <span class="sr-only">71% Complete</span>
        </div>
      </div>
      <h2>Pinkie Tail [WIP]</h2>
      <div style="width:90%;margin:auto;">
        <p>This is a description yo. Artists should write up something sweet about where the commission is at this point. Anything from projected work schedules, current plants for the next phase, echoing the more detailed portions of the project.... anything really!</p>
        <p>This page will only be viewable by the commissioner who ordered the commission, and must be logged in.</p>
      </div>
      <h3>Files</h3>
      <ul style="list-style-type:none">
        <li><a href="#">pinkietail_sketch.png</a> <em>11/2/13 - 23:07</em></li>
        <li><a href="#">pinkietail_lines.png</a> <em>11/7/13 - 09:39</em></li>
        <li><a href="#">pinkietail_simplecolor.png</a> <em>11/14/13 - 12:44</em></li>
      </ul>
      <h3>To-Do</h3>
      <ul style="list-style-type:none;">
        <li><input type="checkbox" disabled checked> sketch character pose and general layout</li>
        <li><input type="checkbox" disabled checked> clean up lines and ink</li>
        <li><input type="checkbox" disabled checked> flat colors</li>
        <li><input type="checkbox" disabled checked> basic shading and highlights</li>
        <li><input type="checkbox" disabled> sketch basic background layout</li>
        <li><input type="checkbox" disabled> finish simple background</li>
        <li><input type="checkbox" disabled> render and polish</li>
      </ul>
    </div>
  </body>
</html>
