<!DOCTYPE html>
<html>
    <head>
    <title>CommissionMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
	    <div class="navbar navbar-default">
	      <div class="navbar-inner">
	        <div class="container">
	          <ul class="nav">
	            <li class="active">
	              <a class="brand" href="index.html">CommissionMe</a>
	            </li>
	          </ul>
	          <ul class="nav pull-right">
	            <a class="brand" href="authenticate.html">Sign up/Log in</a>
	          </ul>
	        </div>
	      </div>
	    </div>
			
		<div class="container">
		    <div class="row">
			    <div class="span4">
					<div class="row">
					    <div class="span12">Account</div>
					    <div class="span12">Password</div>
					    <div class="span12">Security</div>
					    <div class="span12">Email Notifications</div>
					    <div class="span12">Profile</div>
					    <div class="span12">Apps</div>
					</div>    	
			    </div>
			    <div class="span8">
			    	Vivamus posuere porttitor consequat. In elementum ligula ac lacinia adipiscing. Nullam rhoncus pharetra diam. Aenean risus tellus, consectetur eget orci a, cursus mollis arcu. Etiam a tellus dapibus, mattis risus imperdiet, gravida enim. Sed mollis laoreet orci, hendrerit lobortis ipsum tempor non. Phasellus mi ante, sodales quis commodo vel, pulvinar ac odio. Integer fringilla sagittis mauris, nec viverra libero vehicula non. Nulla in cursus nibh.
			    </div>
		    </div>
		</div>
		<script src="assets/js/jquery.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
    </body>
</html>
