<% provide(:title, "New Commission") %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="form-signin-heading">Commission <%=@artist.name%>!</h2>
      
      <form>
        <label class="col-md-4 commission-category" for="sketch">
            Sketch  <input id="sketch" type="radio" name="base" />
            <img src="http://i.imgur.com/7LUtp2e.png">
          </label>

          <label class="col-md-4 commission-category" for="lines">
            Line Art  <input id="lines" type="radio" name="base" />
            <img src="http://th04.deviantart.net/fs70/PRE/f/2011/171/5/e/mlp__bompp_panel_04_line_art_by_flamingo1986-d3jg4i4.png">
          </label>

          <label class="col-md-4 commission-category" for="full">
            Full Color  <input id="full" type="radio" name="base" />
            <img src="http://www.ponymindbleach.com/images/filly_dashie_by_tartii-d5crfcj.jpg">
          </label>
          
          <button class="btn nextbtn pull-right" type="submit">
          Next</button>
      </form>

    </div>
  </div>
</div>

