<!DOCTYPE html>
<html>
  <head>
    <title>
      CommissionMe
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/commission-request.css">
    <div id="json_id" data-url="<%= @json.to_json %>" />
  </head>
  <body>
    <div class="cscontainer">
      <div class="page-header">
        <h1>Commission Progress</h1>
      </div>
      
<!--      <% if current_user.id == @artist.id %> -->
        <!-- LOOP THROUGH CATEGORY STEPS -->
          <div class="panel panel-info">
            <div class="panel-heading"><!-- INJECT STEP NAME --></div>
            <div class="panel-body">
              <h4><!-- INJECT OPTION NAME (AND PRICE?) --></h4>
              <em><!-- INJECT OPTION DESCRIPTION --></em>
            </div>
          </div>
        <!-- END LOOP -->
        
        <div class="panel panel-info">
          <div class="panel-heading">Specification</div>
          <div id="specification" class="panel-body">
            <!-- LOOP THROUGH SPECIFICATIONS AND REVIEWS -->
          </div>
        </div>
        
        <div class="panel panel-info">
          <div class="panel-heading">Revised Price</div>
          <div class="panel-body">
            <!-- INJECT REVISED PRICE -->
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>

