<!DOCTYPE html>
<html>
  <head>
    <title>
      CommissionMe
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/commission-request.css">
    <div id="json_id" data-url="<%= @json.to_json %>" />
  </head>
  <body>
    <div class="cscontainer">
      <div class="page-header">
        <h1>Commission Progress</h1>
      </div>
      
      <% if current_user.id == @artist.id %>
        <% @json["steps"].each do |step| %>
          <div class="panel panel-info">
            <div class="panel-heading"><% step["name"] %></div>
            <div class="panel-body">
              <h4><% step["choice"]["name"] + ": " + step["choice"]["price"] %></h4>
              <em><% step["choice"]["description"] %></em>
            </div>
          </div>
	<% end %>
        
        <div class="panel panel-info">
          <div class="panel-heading">Specification</div>
          <div id="specification" class="panel-body">
            <!-- LOOP THROUGH SPECIFICATIONS AND REVIEWS -->
	    <% @json["spec"].zip("review").each do |spec, review|
	       <!-- Add spec -->
	       <% if !review.nil? %>
	         <!-- Add review -->
	       <% end %>
	    <% end %>
          </div>
        </div>
        
        <div class="panel panel-info">
          <div class="panel-heading">Revised Price</div>
          <div class="panel-body">
            <!-- INJECT REVISED PRICE -->
	    <% @json["price"] %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>

