<% provide(:title, "About CommissionMe") %>

<div class="parallaxcontainer">
<!-- CSS Code -->
<link rel="stylesheet" href="assets/parallaxstyles.css">
<link rel="stylesheet" href="assets/reset.css">
<!-- JS Code -->
<script src="assets/jquery-1.7.2.min.js"></script>
<script src="parallax.js"></script>

<!-- Section #1 -->
<section id="home" data-speed="10" data-type="background">
  ARPARP
  <article>I am Absolute Positioned</article>
</section>

<!-- Section #2 -->
<section id="about" data-speed="4" data-type="background">
  <article>Simple Parallax Scroll</article>
</section>
</div>
