<% provide(:title, "About CommissionMe") %>

<div class="parallaxcontainer">
<!-- CSS Code -->
<link rel="stylesheet" href="assets/parallaxstyles.css">
<link rel="stylesheet" href="assets/reset.css">
<!-- JS Code -->
<script src="assets/jquery-1.7.2.min.js"></script>
<script src="parallax.js"></script>

<!-- About CommissionMe -->
<section id="generalAbout" data-speed="10" data-type="background">
  <div class="mPageHeader">What is CommissionMe?</div>
    <div class="mPageBody">
      <p>
        <span>
          CommissionMe is a tool to help commissioners and digital artists easily work out commission agreements.
        </span>
      </p>
    </div>
    <div class="scrollText">
      <p>
        <span>
          <i class="fa fa-arrow-circle-down fa-lg"></i> Scroll
        </span>
      </p>
    </div>
</section>

<!-- For Commissioners -->
<section id="commissioners" data-speed="4" data-type="background">
  <div class="mPageHeader">For Commissioners</div>
</section>

<!-- For Artists -->
<section id="artists" data-speed="8" data-type="background">
  <div class="mPageHeader">For Artists</div>
</section>

<!-- FAQ -->
<section id="faq" data-speed="8" data-type="background">
  <div class="mPageHeader">For Artists</div>
</section>

</div>
