<!-- Parallax scroll page modified from Mohiuddin Parekh, Nettuts+ -->
<!-- Slideshow modified from https://github.com/wandoledzep/bxslider-4 -->

<% provide(:title, "About CommissionMe") %>

<div class="parallaxcontainer">
<!-- CSS Code -->
<link rel="stylesheet" href="assets/parallaxstyles.css">
<link rel="stylesheet" href="assets/reset.css">
<link rel="stylesheet" type="text/css" href="/assets/slideshowstyles.css" />
<!-- JS Code -->
<script src="assets/jquery-1.7.2.min.js"></script>
<script src="parallax.js"></script>

<!-- Slideshow Code -->
<link rel="stylesheet" href="assets/slideshow.css" type="text/css" />
<script src="assets/jquery-1.7.2.min.js"></script>
<script src="assets/jquery.bxslider.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    
  $('.bxslider').bxSlider({
    mode: 'horizontal',
    startSlide: 0,
    captions: true
  });
});
</script>

<!-- About CommissionMe -->
<section id="generalAbout" data-speed="10" data-type="background">
  <div class="mPageHeader">What is CommissionMe?</div>
    <div class="mPageBody">
      <p>
        <span>
          CommissionMe is a tool to help commissioners and digital 
          artists easily work out commission agreements.
        </span>
      </p>
    </div>
    <div class="scrollText">
      <p>
        <span>
          <i class="fa fa-arrow-circle-down fa-lg"></i> Learn More
        </span>
      </p>
    </div>
</section>

<!-- For Commissioners -->
<section id="commissioners" data-speed="4" data-type="background">
  <div class="mPageHeader">For Commissioners</div>
  
  <div class="mPageBody">
    <div class="slider">
      <ul class="bxslider">
        <li><img src="/images/signuploginhp.png" 
          title="New to CommissionMe? Click sign up/log in." /></li>
        <li><img src="/images/signuploginpage.png" 
          title="Log in or Sign up with a username, email, and password." /></li>
        <li><img src="/images/loggedinhp.png" 
          title="Once you're logged in, click featured images to find artists 
          to commission." /></li>
        <li><img src="/images/commissionother.png" 
          title="Fill out the artist's form to start a new commission request." />
          </li>
        <li><img src="/images/profile.png" 
          title="Visit your profile by clicking your username in the navbar." />
          </li>
        <li><img src="/images/mycommissionscomm.png" 
          title="Keep track of your sent commissions by clicking My Commissions 
          on your profile." /></li>
      </ul>
    </div>
  </div>
</section>

<!-- For Artists -->
<section id="artists" data-speed="8" data-type="background">
  <div class="mPageHeader">For Artists</div>
   <div class="mPageBody">
    <div class="slider">
      <ul class="bxslider">
        <li><img src="/images/signuploginhp.png" 
          title="New to CommissionMe? Click sign up/log in." /></li>
        <li><img src="/images/signuploginpage.png" 
          title="Log in or Sign up with a username, email, and password." />
          </li>
        <li><img src="/images/loggedinhp.png" 
          title="Once you're logged in, click your username in the navbar 
          to visit your profile" /></li>
        <li><img src="/images/artistprofile.png" 
          title="Keep track of your sent and received commissions by 
          clicking My Commissions on your profile." /></li>
        <li><img src="/images/artistmycommissions.png" 
          title="In this example, the user got a new commission. Click 
          the title to review or revise it." /></li>
        <li><img src="/images/commissionreview.png" 
          title="Update the commission request on the review page." /></li>
        <li><img src="/images/updatesettings.png"
          title="Update your commission form on the commission settings page." /></li>
      </ul>
    </div>
  </div>
</section>

<!-- FAQ -->
<section id="faq" data-speed="8" data-type="background">
  <div class="mPageHeader">FAQ</div>
    <p>
      <span>
        <div class="mPageQuestionText">
          What are commissions?
        </div>
      </span>
      <span>
        <div class="mPageAnswerText">
          <li>
            Commissions are works of art offered by an artist, giving you the ability to obtain quality custom artwork. CommissionMe specializes in digital art commissions.
          </li>
        </div>
      </span>
    </p>
    <p>
      <span>
        <div class="mPageQuestionText">
          Why choose CommissionMe?
        </div>
      </span>
      <span>
        <div class="mPageAnswerText">
          <li>
            Most commission sites target traditional artists. Before CommissionMe, it was difficult for digital graphic artists to reach their target audience and manage any commissions they may receive. It was also difficult to find suitable digital artists open for commissions. CommissionMe solves these problems by connecting artists and commissioners with each other. Our platform provides tools for users to easily work out commission agreements.

          </li>
        </div>
      </span>
    </p>
    <p>
      <span>
        <div class="mPageQuestionText">
          How are the artists and customers protected?
        </div>
      </span>
      <span>
        <div class="mPageAnswerText">
          <li>
            As an artist, you have full control over the commissioning
            process. You get to specify the format and pricing of your
            commission requests and accept or decline them on your terms. 
            You also have the flexibility of communicating with your
            customer by using our built-in messaging feature.
          </li>
        </div>
      </span>
    </p>
    
    <p>
      <span>
        <div class="mPageQuestionText">
          How is the artwork delivered to the customer?
        </div>
      </span>
      <span>
        <div class="mPageAnswerText">
          <li>
            The customer is provided with a link pointing to the 
            special work of art that they requested. It's as 
            simple as that!
         </li>
        </div>
      </span>
    </p>
</section>
</div>
