/* "Pages" */
.parallaxcontainer {
  margin-top:-25px;
}

#generalAbout {
	background: rgba(28, 186, 152, 1);
	height: 1000px;  
	margin: 0 auto; 
  width: 100%;
  max-width: 1920px;
  position: relative;
}

#commissioners {
	background: rgba(240, 155, 19, 1);
	height: 1000px;
	margin: 0 auto; 
  width: 100%;
  max-width: 1920px;
  position: relative;
}


#artists {
	background: rgba(230, 76, 62, 1);
	height: 1000px;
	margin: 0 auto; 
  width: 100%;
  max-width: 1920px;
  position: relative;
}


/* Header text for "pages" */
.mPageHeader {
  padding-top:25px;
  text-align:center;
  font-size:40px;
  font-weight:bold;
}

/* Body text for "pages" */
