/* Navbar */

.navbar {
    filter:none;
    box-shadow:none;
    border-radius:0px;
    border:none;
    padding:0px;
    margin-bottom:0px;
}

.navbar .nav > li > a{
    font-size: 30px;
    color:rgba(244, 245, 225, 1);
    background:none;
    padding:0;
    margin-top:20px;
    margin-bottom:0px;
}

.navbar .navbar-left > li {
    display:inline;
    position:inherit;
}

.navbar .navbar-right > li {
    font-size: 18px;
    color:rgba(244, 245, 225, 1);
    display:inline;
    position:inherit;
}

.navbar .navbar-right > li > a{
    font-size: 18px;
    color:rgba(244, 245, 225, 1);
    float:left;
    margin-right:10px;
    margin-top:35px;
    margin-bottom:0px;
}

/* Homepage Images */
.imageview {
    background-color:rgba(212, 214, 214, 1);
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    padding-top:25px;
    width:1200px;
    position:fixed; top:62px; left:0px; bottom:0px; right:0px;
}

/* General body */
body {
    background-color:rgba(153, 156, 161, 1);
    height: 100%;
}

img {
   border:3px solid rgba(235, 239, 240, 1);
}

html {
  height: 100%;
}

.header {
  background:rgba(45, 62, 79, 1);
  font-family: Arial, Helvetica, sans-serif;
}

.headerdescription {
  background:rgba(55, 78, 102, 1);
}

/* Sign up/Log in and Settings*/
.signuplogin {
  line-height:120%;
}

.btn {
  background-color:rgba(45, 62, 79, 1);
  color:rgba(235, 239, 240, 1);
}

.form-signin-heading {
  margin-right:0px;
  margin-top:0px;
  margin-bottom:20px;
}

.input-block-level {
  margin-bottom:10px
}

/*
.navbar .navbar-inner .nav > li {
    display:inline-block;
}

.banner {
  /*background:rgba(55, 78, 102, 1);*/
}

.commission-category {
  font-size:24px;
}

img {
  max-width:100%;
  height:auto;
}

.thumbnail {
  position:relative;
  overflow:hidden;
}

.caption {
  position:absolute;
  top:0;
  right:0;
  background:rgba(255,255,255,0.75);
  width:100%;
  height:100%;
  padding:2%;
  display: none;
  text-align:center;
  color:#000 !important;
  z-index:2;
}
*/